--
-- PostgreSQL database dump
--

-- Dumped from database version 16.8 (Debian 16.8-1.pgdg120+1)
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: auto_cleanup_email_locks(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.auto_cleanup_email_locks() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

        BEGIN

            -- Clean up expired locks before inserting new ones

            PERFORM cleanup_expired_email_locks();

            RETURN NEW;

        END;

        $$;


ALTER FUNCTION public.auto_cleanup_email_locks() OWNER TO postgres;

--
-- Name: check_single_lock(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_single_lock() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

        BEGIN

            -- If this is an INSERT, check if table is empty

            IF TG_OP = 'INSERT' THEN

                IF EXISTS (SELECT 1 FROM email_processing_locks) THEN

                    RAISE EXCEPTION 'Another email processing lock already exists';

                END IF;

            END IF;

            RETURN NEW;

        END;

        $$;


ALTER FUNCTION public.check_single_lock() OWNER TO postgres;

--
-- Name: cleanup_expired_email_editing_locks(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.cleanup_expired_email_editing_locks() RETURNS void
    LANGUAGE plpgsql
    AS $$

            BEGIN

                DELETE FROM email_editing_locks 

                WHERE expires_at < NOW();

            END;

            $$;


ALTER FUNCTION public.cleanup_expired_email_editing_locks() OWNER TO postgres;

--
-- Name: cleanup_expired_email_locks(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.cleanup_expired_email_locks() RETURNS void
    LANGUAGE plpgsql
    AS $$

        BEGIN

            -- Delete locks that have expired

            DELETE FROM email_processing_locks 

            WHERE expires_at <= NOW();

            

            -- Delete stale locks (older than 5 minutes)

            DELETE FROM email_processing_locks 

            WHERE created_at < NOW() - INTERVAL '5 minutes';

        END;

        $$;


ALTER FUNCTION public.cleanup_expired_email_locks() OWNER TO postgres;

--
-- Name: cleanup_stale_user_activity(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.cleanup_stale_user_activity() RETURNS void
    LANGUAGE plpgsql
    AS $$

            BEGIN

                DELETE FROM user_activity 

                WHERE last_activity < NOW() - INTERVAL '30 minutes';

            END;

            $$;


ALTER FUNCTION public.cleanup_stale_user_activity() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_drafts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_drafts (
    id integer NOT NULL,
    email_id integer,
    draft_content text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    sent_at timestamp without time zone,
    sent_by character varying(255),
    draft_type character varying(50) DEFAULT 'ai_generated'::character varying
);


ALTER TABLE public.ai_drafts OWNER TO postgres;

--
-- Name: TABLE ai_drafts; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.ai_drafts IS 'Stores AI-generated and user-edited draft responses';


--
-- Name: ai_drafts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_drafts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_drafts_id_seq OWNER TO postgres;

--
-- Name: ai_drafts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_drafts_id_seq OWNED BY public.ai_drafts.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    user_id integer,
    operation character varying(255) NOT NULL,
    details text,
    "timestamp" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    ip_address character varying(45)
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: TABLE audit_logs; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.audit_logs IS 'System activity tracking for security and performance monitoring';


--
-- Name: COLUMN audit_logs.user_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_logs.user_id IS 'Reference to users table (can be NULL for system operations)';


--
-- Name: COLUMN audit_logs.operation; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_logs.operation IS 'Type of operation performed (login, logout, data_access, etc.)';


--
-- Name: COLUMN audit_logs.details; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_logs.details IS 'Additional details about the operation';


--
-- Name: COLUMN audit_logs."timestamp"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_logs."timestamp" IS 'When the operation occurred';


--
-- Name: COLUMN audit_logs.ip_address; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.audit_logs.ip_address IS 'IP address of the user performing the operation';


--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: bank_unmatched_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bank_unmatched_records (
    id integer NOT NULL,
    bl_number character varying(255),
    amount numeric,
    date date,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    reason text
);


ALTER TABLE public.bank_unmatched_records OWNER TO postgres;

--
-- Name: bank_unmatched_records_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bank_unmatched_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bank_unmatched_records_id_seq OWNER TO postgres;

--
-- Name: bank_unmatched_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bank_unmatched_records_id_seq OWNED BY public.bank_unmatched_records.id;


--
-- Name: bill_of_lading; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bill_of_lading (
    id integer NOT NULL,
    customer_name text,
    customer_email text,
    customer_phone text,
    pdf_filename text,
    ocr_text text,
    shipper text,
    consignee text,
    port_of_loading text,
    port_of_discharge text,
    bl_number text,
    container_numbers text,
    service_fee numeric,
    receipt_filename text,
    status character varying(50),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    invoice_filename text,
    unique_number text,
    customer_username text,
    ctn_fee numeric,
    payment_link text,
    receipt_uploaded_at timestamp with time zone,
    completed_at timestamp with time zone,
    customer_invoice character varying(255),
    customer_packing_list character varying(255),
    flight_or_vessel text,
    product_description text,
    payment_method text DEFAULT 'not_selected_yet'::text,
    payment_status text DEFAULT 'pending'::text,
    reserve_amount numeric DEFAULT 0,
    reserve_status text DEFAULT 'not_applicable'::text,
    allinpay_85_received_at timestamp without time zone,
    payment_reference text,
    shipment_type character varying(20) DEFAULT 'ocean'::character varying,
    container_type character varying(20),
    container_count integer DEFAULT 1,
    total_weight_kg numeric(10,2),
    weight_unit character varying(10) DEFAULT 'kg'::character varying,
    pricing_method character varying(20) DEFAULT 'container'::character varying,
    base_ctn_fee numeric(10,2),
    base_service_fee numeric(10,2),
    calculated_ctn_fee numeric(10,2),
    calculated_service_fee numeric(10,2),
    ocr_confidence_score numeric(3,2),
    manual_override boolean DEFAULT false,
    override_reason text,
    override_by character varying(100),
    override_at timestamp with time zone,
    pricing_calculation_log jsonb,
    last_pricing_update timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    notify_party text,
    container_count_20ft integer DEFAULT 0,
    container_count_40ft integer DEFAULT 0,
    container_count_40ft_hc integer DEFAULT 0,
    payment_processed_by character varying(50),
    payment_processed_at timestamp with time zone,
    payment_source character varying(50),
    balance_applied numeric(10,2) DEFAULT 0
);


ALTER TABLE public.bill_of_lading OWNER TO postgres;

--
-- Name: COLUMN bill_of_lading.shipment_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bill_of_lading.shipment_type IS 'Type of shipment: ocean, air, or loose_cargo';


--
-- Name: COLUMN bill_of_lading.container_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bill_of_lading.container_type IS 'Container type: 20ft, 40ft, 40ft_hc, or loose_cargo';


--
-- Name: COLUMN bill_of_lading.pricing_method; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bill_of_lading.pricing_method IS 'Method used for fee calculation: container, weight, or mixed';


--
-- Name: COLUMN bill_of_lading.manual_override; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bill_of_lading.manual_override IS 'Flag indicating if fees were manually overridden';


--
-- Name: COLUMN bill_of_lading.pricing_calculation_log; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bill_of_lading.pricing_calculation_log IS 'JSON log of how fees were calculated for audit purposes';


--
-- Name: COLUMN bill_of_lading.notify_party; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bill_of_lading.notify_party IS 'Notify party information from BOL/AWB documents';


--
-- Name: COLUMN bill_of_lading.container_count_20ft; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bill_of_lading.container_count_20ft IS 'Number of 20ft containers';


--
-- Name: COLUMN bill_of_lading.container_count_40ft; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bill_of_lading.container_count_40ft IS 'Number of 40ft containers';


--
-- Name: COLUMN bill_of_lading.container_count_40ft_hc; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bill_of_lading.container_count_40ft_hc IS 'Number of 40ft high cube containers';


--
-- Name: bill_of_lading_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bill_of_lading_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bill_of_lading_id_seq OWNER TO postgres;

--
-- Name: bill_of_lading_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bill_of_lading_id_seq OWNED BY public.bill_of_lading.id;


--
-- Name: customer_balance_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_balance_transactions (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    transaction_type character varying(20) NOT NULL,
    amount numeric(10,2) NOT NULL,
    reference_type character varying(50),
    reference_id integer,
    payment_source character varying(50),
    description text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    created_by character varying(100),
    CONSTRAINT customer_balance_transactions_transaction_type_check CHECK (((transaction_type)::text = ANY (ARRAY[('credit'::character varying)::text, ('debit'::character varying)::text, ('adjustment'::character varying)::text, ('application'::character varying)::text])))
);


ALTER TABLE public.customer_balance_transactions OWNER TO postgres;

--
-- Name: customer_balance_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customer_balance_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_balance_transactions_id_seq OWNER TO postgres;

--
-- Name: customer_balance_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customer_balance_transactions_id_seq OWNED BY public.customer_balance_transactions.id;


--
-- Name: customer_balances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_balances (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    balance_amount numeric(10,2) DEFAULT 0,
    last_updated timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    notes text,
    is_active boolean DEFAULT true
);


ALTER TABLE public.customer_balances OWNER TO postgres;

--
-- Name: customer_balances_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customer_balances_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_balances_id_seq OWNER TO postgres;

--
-- Name: customer_balances_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customer_balances_id_seq OWNED BY public.customer_balances.id;


--
-- Name: customer_email_replies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_email_replies (
    id integer NOT NULL,
    customer_email_id integer,
    sender text NOT NULL,
    body text,
    created_at timestamp without time zone DEFAULT now(),
    is_draft boolean DEFAULT false,
    sent_at timestamp without time zone,
    sent_via character varying(50),
    confidence_score double precision,
    confidence_reasoning jsonb,
    auto_send_recommended boolean DEFAULT false,
    auto_sent boolean DEFAULT false,
    auto_sent_at timestamp without time zone
);


ALTER TABLE public.customer_email_replies OWNER TO postgres;

--
-- Name: customer_email_replies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customer_email_replies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_email_replies_id_seq OWNER TO postgres;

--
-- Name: customer_email_replies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customer_email_replies_id_seq OWNED BY public.customer_email_replies.id;


--
-- Name: customer_emails; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_emails (
    id integer NOT NULL,
    sender text NOT NULL,
    subject text,
    body text,
    attachments jsonb,
    bl_numbers text[],
    created_at timestamp without time zone DEFAULT now(),
    processed_at timestamp without time zone,
    classification character varying(50),
    openai_processed boolean DEFAULT false,
    processed_for_payments boolean DEFAULT false,
    message_id character varying(255),
    from_addr character varying(255),
    outlook_message_id character varying(255),
    processed_by_outlook boolean DEFAULT false,
    outlook_user_id character varying(255),
    status character varying(50) DEFAULT 'New'::character varying,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    cc text[],
    bcc text[],
    reply_to text[],
    "to" text[]
);


ALTER TABLE public.customer_emails OWNER TO postgres;

--
-- Name: COLUMN customer_emails.outlook_message_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.customer_emails.outlook_message_id IS 'Outlook message ID for tracking';


--
-- Name: COLUMN customer_emails.processed_by_outlook; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.customer_emails.processed_by_outlook IS 'Whether email was processed via Outlook add-in';


--
-- Name: COLUMN customer_emails.outlook_user_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.customer_emails.outlook_user_id IS 'ID of Outlook user who processed the email';


--
-- Name: COLUMN customer_emails.cc; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.customer_emails.cc IS 'Array of CC email addresses from original email';


--
-- Name: COLUMN customer_emails.bcc; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.customer_emails.bcc IS 'Array of BCC email addresses from original email';


--
-- Name: COLUMN customer_emails.reply_to; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.customer_emails.reply_to IS 'Array of Reply-To email addresses from original email';


--
-- Name: COLUMN customer_emails."to"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.customer_emails."to" IS 'Array of "To" email addresses from original email';


--
-- Name: customer_emails_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customer_emails_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customer_emails_id_seq OWNER TO postgres;

--
-- Name: customer_emails_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customer_emails_id_seq OWNED BY public.customer_emails.id;


--
-- Name: email_editing_locks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_editing_locks (
    id integer NOT NULL,
    email_id integer NOT NULL,
    user_id character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    expires_at timestamp without time zone NOT NULL
);


ALTER TABLE public.email_editing_locks OWNER TO postgres;

--
-- Name: TABLE email_editing_locks; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.email_editing_locks IS 'Prevents multiple users from editing the same email simultaneously';


--
-- Name: email_editing_locks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.email_editing_locks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.email_editing_locks_id_seq OWNER TO postgres;

--
-- Name: email_editing_locks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.email_editing_locks_id_seq OWNED BY public.email_editing_locks.id;


--
-- Name: email_ingest_errors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_ingest_errors (
    id integer NOT NULL,
    filename text,
    reason text,
    raw_text text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.email_ingest_errors OWNER TO postgres;

--
-- Name: email_ingest_errors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.email_ingest_errors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.email_ingest_errors_id_seq OWNER TO postgres;

--
-- Name: email_ingest_errors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.email_ingest_errors_id_seq OWNED BY public.email_ingest_errors.id;


--
-- Name: email_processing_locks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_processing_locks (
    id integer NOT NULL,
    user_id character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    expires_at timestamp without time zone NOT NULL
);


ALTER TABLE public.email_processing_locks OWNER TO postgres;

--
-- Name: TABLE email_processing_locks; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.email_processing_locks IS 'Prevents multiple users from processing emails simultaneously';


--
-- Name: email_processing_locks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.email_processing_locks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.email_processing_locks_id_seq OWNER TO postgres;

--
-- Name: email_processing_locks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.email_processing_locks_id_seq OWNED BY public.email_processing_locks.id;


--
-- Name: email_prompt_locks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_prompt_locks (
    sender_id character varying(64) NOT NULL,
    locked_until timestamp without time zone
);


ALTER TABLE public.email_prompt_locks OWNER TO postgres;

--
-- Name: email_status_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.email_status_view AS
 SELECT ce.id,
    ce.sender,
    ce.subject,
    ce.classification,
    ce.created_at,
    count(cer.id) AS reply_count,
    max(
        CASE
            WHEN (cer.is_draft = false) THEN cer.sent_at
            ELSE NULL::timestamp without time zone
        END) AS last_sent_at,
    max(cer.confidence_score) AS max_confidence,
    bool_or(cer.auto_sent) AS has_auto_sent,
    bool_or(cer.auto_send_recommended) AS has_auto_send_recommended
   FROM (public.customer_emails ce
     LEFT JOIN public.customer_email_replies cer ON ((ce.id = cer.customer_email_id)))
  GROUP BY ce.id, ce.sender, ce.subject, ce.classification, ce.created_at;


ALTER VIEW public.email_status_view OWNER TO postgres;

--
-- Name: fcm_notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fcm_notifications (
    id integer NOT NULL,
    email_id integer NOT NULL,
    notification_type character varying(50) NOT NULL,
    sent_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.fcm_notifications OWNER TO postgres;

--
-- Name: TABLE fcm_notifications; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.fcm_notifications IS 'Tracks FCM notifications sent to prevent duplicates';


--
-- Name: COLUMN fcm_notifications.email_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.fcm_notifications.email_id IS 'ID of the email that triggered the notification';


--
-- Name: COLUMN fcm_notifications.notification_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.fcm_notifications.notification_type IS 'Type of notification (new_email, payment_receipt, etc.)';


--
-- Name: COLUMN fcm_notifications.sent_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.fcm_notifications.sent_at IS 'When the notification was sent';


--
-- Name: fcm_notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fcm_notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fcm_notifications_id_seq OWNER TO postgres;

--
-- Name: fcm_notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fcm_notifications_id_seq OWNED BY public.fcm_notifications.id;


--
-- Name: fcm_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fcm_tokens (
    id integer NOT NULL,
    user_id integer,
    token text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    is_active boolean DEFAULT true
);


ALTER TABLE public.fcm_tokens OWNER TO postgres;

--
-- Name: TABLE fcm_tokens; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.fcm_tokens IS 'Stores FCM tokens for push notifications';


--
-- Name: COLUMN fcm_tokens.user_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.fcm_tokens.user_id IS 'User ID for authenticated tokens, NULL for public tokens';


--
-- Name: COLUMN fcm_tokens.token; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.fcm_tokens.token IS 'Firebase Cloud Messaging token';


--
-- Name: COLUMN fcm_tokens.is_active; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.fcm_tokens.is_active IS 'Whether the token is still valid';


--
-- Name: fcm_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fcm_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fcm_tokens_id_seq OWNER TO postgres;

--
-- Name: fcm_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fcm_tokens_id_seq OWNED BY public.fcm_tokens.id;


--
-- Name: outlook_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.outlook_sessions (
    id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    session_token character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_activity timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true
);


ALTER TABLE public.outlook_sessions OWNER TO postgres;

--
-- Name: TABLE outlook_sessions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.outlook_sessions IS 'Tracks active Outlook user sessions';


--
-- Name: outlook_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.outlook_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.outlook_sessions_id_seq OWNER TO postgres;

--
-- Name: outlook_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.outlook_sessions_id_seq OWNED BY public.outlook_sessions.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    id integer NOT NULL,
    user_id integer,
    token character varying(128) NOT NULL,
    expires_at timestamp with time zone NOT NULL
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.password_reset_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_reset_tokens_id_seq OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.password_reset_tokens_id_seq OWNED BY public.password_reset_tokens.id;


--
-- Name: pricing_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pricing_config (
    id integer NOT NULL,
    shipment_type character varying(20) NOT NULL,
    container_type character varying(20),
    pricing_method character varying(20) NOT NULL,
    ctn_fee_per_unit numeric(10,2) NOT NULL,
    service_fee_per_unit numeric(10,2) NOT NULL,
    unit_type character varying(20) NOT NULL,
    minimum_charge numeric(10,2) DEFAULT 0,
    maximum_charge numeric(10,2),
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    created_by character varying(100),
    notes text
);


ALTER TABLE public.pricing_config OWNER TO postgres;

--
-- Name: TABLE pricing_config; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.pricing_config IS 'Configuration table for different pricing methods and rates';


--
-- Name: pricing_config_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pricing_config_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pricing_config_id_seq OWNER TO postgres;

--
-- Name: pricing_config_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pricing_config_id_seq OWNED BY public.pricing_config.id;


--
-- Name: pricing_overrides; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pricing_overrides (
    id integer NOT NULL,
    bill_of_lading_id integer,
    original_ctn_fee numeric(10,2),
    original_service_fee numeric(10,2),
    new_ctn_fee numeric(10,2),
    new_service_fee numeric(10,2),
    reason text NOT NULL,
    overridden_by character varying(100) NOT NULL,
    overridden_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    notes text
);


ALTER TABLE public.pricing_overrides OWNER TO postgres;

--
-- Name: pricing_overrides_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pricing_overrides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pricing_overrides_id_seq OWNER TO postgres;

--
-- Name: pricing_overrides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pricing_overrides_id_seq OWNED BY public.pricing_overrides.id;


--
-- Name: test123; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.test123 (
    id integer NOT NULL
);


ALTER TABLE public.test123 OWNER TO postgres;

--
-- Name: test123_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.test123_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.test123_id_seq OWNER TO postgres;

--
-- Name: test123_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.test123_id_seq OWNED BY public.test123.id;


--
-- Name: unmatched_receipts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unmatched_receipts (
    id integer NOT NULL,
    date date,
    description text,
    amount numeric(10,2),
    reason text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    raw_text text
);


ALTER TABLE public.unmatched_receipts OWNER TO postgres;

--
-- Name: TABLE unmatched_receipts; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.unmatched_receipts IS 'Stores details of payment receipts that could not be automatically matched to a Bill of Lading.';


--
-- Name: COLUMN unmatched_receipts.reason; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.unmatched_receipts.reason IS 'The reason why the receipt could not be matched, e.g., Invalid BL number, amount mismatch.';


--
-- Name: COLUMN unmatched_receipts.raw_text; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.unmatched_receipts.raw_text IS 'The full text of the email body for manual review.';


--
-- Name: unmatched_receipts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.unmatched_receipts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unmatched_receipts_id_seq OWNER TO postgres;

--
-- Name: unmatched_receipts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.unmatched_receipts_id_seq OWNED BY public.unmatched_receipts.id;


--
-- Name: user_activity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_activity (
    id integer NOT NULL,
    user_id character varying(100) NOT NULL,
    current_email_id integer,
    current_action character varying(50),
    last_activity timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_activity OWNER TO postgres;

--
-- Name: TABLE user_activity; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.user_activity IS 'Tracks user activity for real-time collaboration features';


--
-- Name: user_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_activity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_activity_id_seq OWNER TO postgres;

--
-- Name: user_activity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_activity_id_seq OWNED BY public.user_activity.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(512) NOT NULL,
    role character varying(10) NOT NULL,
    approved boolean DEFAULT false,
    customer_name text,
    customer_email text,
    customer_phone text,
    failed_attempts integer DEFAULT 0 NOT NULL,
    lockout_until timestamp with time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: ai_drafts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_drafts ALTER COLUMN id SET DEFAULT nextval('public.ai_drafts_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: bank_unmatched_records id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bank_unmatched_records ALTER COLUMN id SET DEFAULT nextval('public.bank_unmatched_records_id_seq'::regclass);


--
-- Name: bill_of_lading id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill_of_lading ALTER COLUMN id SET DEFAULT nextval('public.bill_of_lading_id_seq'::regclass);


--
-- Name: customer_balance_transactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_balance_transactions ALTER COLUMN id SET DEFAULT nextval('public.customer_balance_transactions_id_seq'::regclass);


--
-- Name: customer_balances id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_balances ALTER COLUMN id SET DEFAULT nextval('public.customer_balances_id_seq'::regclass);


--
-- Name: customer_email_replies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_email_replies ALTER COLUMN id SET DEFAULT nextval('public.customer_email_replies_id_seq'::regclass);


--
-- Name: customer_emails id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_emails ALTER COLUMN id SET DEFAULT nextval('public.customer_emails_id_seq'::regclass);


--
-- Name: email_editing_locks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_editing_locks ALTER COLUMN id SET DEFAULT nextval('public.email_editing_locks_id_seq'::regclass);


--
-- Name: email_ingest_errors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_ingest_errors ALTER COLUMN id SET DEFAULT nextval('public.email_ingest_errors_id_seq'::regclass);


--
-- Name: email_processing_locks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_processing_locks ALTER COLUMN id SET DEFAULT nextval('public.email_processing_locks_id_seq'::regclass);


--
-- Name: fcm_notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_notifications ALTER COLUMN id SET DEFAULT nextval('public.fcm_notifications_id_seq'::regclass);


--
-- Name: fcm_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_tokens ALTER COLUMN id SET DEFAULT nextval('public.fcm_tokens_id_seq'::regclass);


--
-- Name: outlook_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outlook_sessions ALTER COLUMN id SET DEFAULT nextval('public.outlook_sessions_id_seq'::regclass);


--
-- Name: password_reset_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens ALTER COLUMN id SET DEFAULT nextval('public.password_reset_tokens_id_seq'::regclass);


--
-- Name: pricing_config id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing_config ALTER COLUMN id SET DEFAULT nextval('public.pricing_config_id_seq'::regclass);


--
-- Name: pricing_overrides id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing_overrides ALTER COLUMN id SET DEFAULT nextval('public.pricing_overrides_id_seq'::regclass);


--
-- Name: test123 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test123 ALTER COLUMN id SET DEFAULT nextval('public.test123_id_seq'::regclass);


--
-- Name: unmatched_receipts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unmatched_receipts ALTER COLUMN id SET DEFAULT nextval('public.unmatched_receipts_id_seq'::regclass);


--
-- Name: user_activity id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_activity ALTER COLUMN id SET DEFAULT nextval('public.user_activity_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: ai_drafts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_drafts (id, email_id, draft_content, created_at, sent_at, sent_by, draft_type) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bank_unmatched_records; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bill_of_lading; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer_balance_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer_balances; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer_email_replies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer_emails; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: email_editing_locks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_editing_locks (id, email_id, user_id, created_at, expires_at) FROM stdin;
83	60	84	2025-08-06 02:16:32.390582	2025-08-06 02:26:32.390582
140	116	84	2025-08-10 12:47:14.282695	2025-08-10 12:57:14.282695
\.


--
-- Data for Name: email_ingest_errors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: email_processing_locks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_processing_locks (id, user_id, created_at, expires_at) FROM stdin;
\.


--
-- Data for Name: email_prompt_locks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_prompt_locks (sender_id, locked_until) FROM stdin;
85265381629@s.whatsapp.net	2025-07-23 08:36:41.979494
\.


--
-- Data for Name: fcm_notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fcm_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fcm_tokens (id, user_id, token, created_at, updated_at, is_active) FROM stdin;
5	\N	fTp9k8GIumfk5o827m3Jnz:APA91bFldEWo6eqe_nc8Cpy8U8yYDi8y5ljGasfRUW4PysGcp0ljO2MVpcwtulQ5eV81otmgffJEzmW_-sEygJi4Ar_0FVnfnXgCHLk1VeSUqotMEBM5QwY	2025-07-31 12:32:49.057934+00	2025-08-01 01:37:42.98915+00	t
12	107	dCiHT_rn02j9QLv06ofwNP:APA91bFgO3s6GgmCXB76nO9dzsPZ3xnF591KK1QyVGkp-TxIGigMsvLzPRr1uHZvtw9stRTGdeTZFYaV36dEVLSPXWVI6_Ud4ast2rihOLDbKrqrUJg24Go	2025-08-03 03:08:02.549629+00	2025-08-03 03:24:28.796898+00	t
\.


--
-- Data for Name: outlook_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.outlook_sessions (id, user_id, session_token, created_at, last_activity, is_active) FROM stdin;
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pricing_config; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pricing_overrides; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pricing_overrides (id, bill_of_lading_id, original_ctn_fee, original_service_fee, new_ctn_fee, new_service_fee, reason, overridden_by, overridden_at, notes) FROM stdin;
\.


--
-- Data for Name: test123; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.test123 (id) FROM stdin;
\.


--
-- Data for Name: unmatched_receipts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_activity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_activity (id, user_id, current_email_id, current_action, last_activity) FROM stdin;
2	84	\N	\N	2025-09-04 03:36:00.907246
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ai_drafts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_drafts_id_seq', 1, false);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 191, true);


--
-- Name: bank_unmatched_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bank_unmatched_records_id_seq', 88, true);


--
-- Name: bill_of_lading_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bill_of_lading_id_seq', 76, true);


--
-- Name: customer_balance_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_balance_transactions_id_seq', 81, true);


--
-- Name: customer_balances_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_balances_id_seq', 101, true);


--
-- Name: customer_email_replies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_email_replies_id_seq', 865, true);


--
-- Name: customer_emails_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customer_emails_id_seq', 144, true);


--
-- Name: email_editing_locks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.email_editing_locks_id_seq', 181, true);


--
-- Name: email_ingest_errors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.email_ingest_errors_id_seq', 28, true);


--
-- Name: email_processing_locks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.email_processing_locks_id_seq', 575, true);


--
-- Name: fcm_notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fcm_notifications_id_seq', 72, true);


--
-- Name: fcm_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fcm_tokens_id_seq', 13, true);


--
-- Name: outlook_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.outlook_sessions_id_seq', 1, false);


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.password_reset_tokens_id_seq', 46, true);


--
-- Name: pricing_config_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pricing_config_id_seq', 5, true);


--
-- Name: pricing_overrides_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pricing_overrides_id_seq', 1, false);


--
-- Name: test123_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.test123_id_seq', 1, false);


--
-- Name: unmatched_receipts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.unmatched_receipts_id_seq', 29, true);


--
-- Name: user_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_activity_id_seq', 425, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 110, true);


--
-- Name: ai_drafts ai_drafts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_drafts
    ADD CONSTRAINT ai_drafts_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: bank_unmatched_records bank_unmatched_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bank_unmatched_records
    ADD CONSTRAINT bank_unmatched_records_pkey PRIMARY KEY (id);


--
-- Name: bill_of_lading bill_of_lading_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bill_of_lading
    ADD CONSTRAINT bill_of_lading_pkey PRIMARY KEY (id);


--
-- Name: customer_balance_transactions customer_balance_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_balance_transactions
    ADD CONSTRAINT customer_balance_transactions_pkey PRIMARY KEY (id);


--
-- Name: customer_balances customer_balances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_balances
    ADD CONSTRAINT customer_balances_pkey PRIMARY KEY (id);


--
-- Name: customer_balances customer_balances_username_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_balances
    ADD CONSTRAINT customer_balances_username_unique UNIQUE (username);


--
-- Name: customer_email_replies customer_email_replies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_email_replies
    ADD CONSTRAINT customer_email_replies_pkey PRIMARY KEY (id);


--
-- Name: customer_emails customer_emails_message_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_emails
    ADD CONSTRAINT customer_emails_message_id_key UNIQUE (message_id);


--
-- Name: customer_emails customer_emails_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_emails
    ADD CONSTRAINT customer_emails_pkey PRIMARY KEY (id);


--
-- Name: email_editing_locks email_editing_locks_email_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_editing_locks
    ADD CONSTRAINT email_editing_locks_email_id_key UNIQUE (email_id);


--
-- Name: email_editing_locks email_editing_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_editing_locks
    ADD CONSTRAINT email_editing_locks_pkey PRIMARY KEY (id);


--
-- Name: email_ingest_errors email_ingest_errors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_ingest_errors
    ADD CONSTRAINT email_ingest_errors_pkey PRIMARY KEY (id);


--
-- Name: email_processing_locks email_processing_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_processing_locks
    ADD CONSTRAINT email_processing_locks_pkey PRIMARY KEY (id);


--
-- Name: email_prompt_locks email_prompt_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_prompt_locks
    ADD CONSTRAINT email_prompt_locks_pkey PRIMARY KEY (sender_id);


--
-- Name: fcm_notifications fcm_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_notifications
    ADD CONSTRAINT fcm_notifications_pkey PRIMARY KEY (id);


--
-- Name: fcm_notifications fcm_notifications_unique_email_type; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_notifications
    ADD CONSTRAINT fcm_notifications_unique_email_type UNIQUE (email_id, notification_type);


--
-- Name: fcm_tokens fcm_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_tokens
    ADD CONSTRAINT fcm_tokens_pkey PRIMARY KEY (id);


--
-- Name: fcm_tokens fcm_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_tokens
    ADD CONSTRAINT fcm_tokens_token_key UNIQUE (token);


--
-- Name: outlook_sessions outlook_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outlook_sessions
    ADD CONSTRAINT outlook_sessions_pkey PRIMARY KEY (id);


--
-- Name: outlook_sessions outlook_sessions_session_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outlook_sessions
    ADD CONSTRAINT outlook_sessions_session_token_key UNIQUE (session_token);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: pricing_config pricing_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing_config
    ADD CONSTRAINT pricing_config_pkey PRIMARY KEY (id);


--
-- Name: pricing_overrides pricing_overrides_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing_overrides
    ADD CONSTRAINT pricing_overrides_pkey PRIMARY KEY (id);


--
-- Name: test123 test123_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.test123
    ADD CONSTRAINT test123_pkey PRIMARY KEY (id);


--
-- Name: unmatched_receipts unmatched_receipts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unmatched_receipts
    ADD CONSTRAINT unmatched_receipts_pkey PRIMARY KEY (id);


--
-- Name: user_activity user_activity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_activity
    ADD CONSTRAINT user_activity_pkey PRIMARY KEY (id);


--
-- Name: user_activity user_activity_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_activity
    ADD CONSTRAINT user_activity_user_id_key UNIQUE (user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_ai_drafts_email_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_drafts_email_id ON public.ai_drafts USING btree (email_id);


--
-- Name: idx_ai_drafts_sent_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ai_drafts_sent_at ON public.ai_drafts USING btree (sent_at);


--
-- Name: idx_audit_logs_operation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_operation ON public.audit_logs USING btree (operation);


--
-- Name: idx_audit_logs_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_timestamp ON public.audit_logs USING btree ("timestamp" DESC);


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: idx_audit_logs_user_operation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_user_operation ON public.audit_logs USING btree (user_id, operation);


--
-- Name: idx_bill_of_lading_balance_applied; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_balance_applied ON public.bill_of_lading USING btree (balance_applied);


--
-- Name: idx_bill_of_lading_container_20ft; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_container_20ft ON public.bill_of_lading USING btree (container_count_20ft);


--
-- Name: idx_bill_of_lading_container_40ft; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_container_40ft ON public.bill_of_lading USING btree (container_count_40ft);


--
-- Name: idx_bill_of_lading_container_40ft_hc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_container_40ft_hc ON public.bill_of_lading USING btree (container_count_40ft_hc);


--
-- Name: idx_bill_of_lading_container_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_container_type ON public.bill_of_lading USING btree (container_type);


--
-- Name: idx_bill_of_lading_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_created_at ON public.bill_of_lading USING btree (created_at DESC);


--
-- Name: idx_bill_of_lading_customer_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_customer_email ON public.bill_of_lading USING btree (customer_email);


--
-- Name: idx_bill_of_lading_customer_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_customer_status ON public.bill_of_lading USING btree (customer_email, status);


--
-- Name: idx_bill_of_lading_notify_party; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_notify_party ON public.bill_of_lading USING btree (notify_party);


--
-- Name: idx_bill_of_lading_payment_processed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_payment_processed ON public.bill_of_lading USING btree (payment_processed_by, payment_processed_at);


--
-- Name: idx_bill_of_lading_pricing_method; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_pricing_method ON public.bill_of_lading USING btree (pricing_method);


--
-- Name: idx_bill_of_lading_shipment_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_shipment_type ON public.bill_of_lading USING btree (shipment_type);


--
-- Name: idx_bill_of_lading_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_status ON public.bill_of_lading USING btree (status);


--
-- Name: idx_bill_of_lading_updated_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bill_of_lading_updated_at ON public.bill_of_lading USING btree (updated_at DESC);


--
-- Name: idx_customer_balance_transactions_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_balance_transactions_created_at ON public.customer_balance_transactions USING btree (created_at DESC);


--
-- Name: idx_customer_balance_transactions_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_balance_transactions_username ON public.customer_balance_transactions USING btree (username);


--
-- Name: idx_customer_balances_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_balances_username ON public.customer_balances USING btree (username);


--
-- Name: idx_customer_email_replies_auto_send; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_email_replies_auto_send ON public.customer_email_replies USING btree (auto_send_recommended);


--
-- Name: idx_customer_email_replies_confidence; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_email_replies_confidence ON public.customer_email_replies USING btree (confidence_score);


--
-- Name: idx_customer_email_replies_confidence_score; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_email_replies_confidence_score ON public.customer_email_replies USING btree (confidence_score);


--
-- Name: idx_customer_email_replies_count; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_email_replies_count ON public.customer_email_replies USING btree (customer_email_id, id);


--
-- Name: idx_customer_email_replies_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_email_replies_created_at ON public.customer_email_replies USING btree (created_at DESC);


--
-- Name: idx_customer_email_replies_customer_email_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_email_replies_customer_email_id ON public.customer_email_replies USING btree (customer_email_id);


--
-- Name: idx_customer_email_replies_email_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_email_replies_email_id ON public.customer_email_replies USING btree (customer_email_id);


--
-- Name: idx_customer_email_replies_is_draft; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_email_replies_is_draft ON public.customer_email_replies USING btree (is_draft);


--
-- Name: idx_customer_emails_bcc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_bcc ON public.customer_emails USING gin (bcc);


--
-- Name: idx_customer_emails_bl_numbers; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_bl_numbers ON public.customer_emails USING gin (bl_numbers);


--
-- Name: idx_customer_emails_cc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_cc ON public.customer_emails USING gin (cc);


--
-- Name: idx_customer_emails_classification; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_classification ON public.customer_emails USING btree (classification);


--
-- Name: idx_customer_emails_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_created_at ON public.customer_emails USING btree (created_at);


--
-- Name: idx_customer_emails_created_at_desc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_created_at_desc ON public.customer_emails USING btree (created_at DESC, id DESC);


--
-- Name: idx_customer_emails_message_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_message_id ON public.customer_emails USING btree (message_id);


--
-- Name: idx_customer_emails_outlook_message_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_outlook_message_id ON public.customer_emails USING btree (outlook_message_id);


--
-- Name: idx_customer_emails_outlook_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_outlook_user_id ON public.customer_emails USING btree (outlook_user_id);


--
-- Name: idx_customer_emails_processed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_processed ON public.customer_emails USING btree (processed_for_payments);


--
-- Name: idx_customer_emails_processed_for_payments; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_processed_for_payments ON public.customer_emails USING btree (processed_for_payments);


--
-- Name: idx_customer_emails_reply_to; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_reply_to ON public.customer_emails USING gin (reply_to);


--
-- Name: idx_customer_emails_sender; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_sender ON public.customer_emails USING btree (sender);


--
-- Name: idx_customer_emails_sender_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_sender_created ON public.customer_emails USING btree (sender, created_at DESC);


--
-- Name: idx_customer_emails_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_status ON public.customer_emails USING btree (status);


--
-- Name: idx_customer_emails_subject; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_subject ON public.customer_emails USING btree (subject);


--
-- Name: idx_customer_emails_to; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customer_emails_to ON public.customer_emails USING gin ("to");


--
-- Name: idx_email_editing_locks_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_email_editing_locks_expires ON public.email_editing_locks USING btree (expires_at);


--
-- Name: idx_email_editing_locks_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_email_editing_locks_user ON public.email_editing_locks USING btree (user_id);


--
-- Name: idx_email_processing_locks_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_email_processing_locks_expires ON public.email_processing_locks USING btree (expires_at);


--
-- Name: idx_email_processing_locks_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_email_processing_locks_user ON public.email_processing_locks USING btree (user_id);


--
-- Name: idx_fcm_notifications_email_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fcm_notifications_email_type ON public.fcm_notifications USING btree (email_id, notification_type);


--
-- Name: idx_fcm_notifications_sent_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fcm_notifications_sent_at ON public.fcm_notifications USING btree (sent_at);


--
-- Name: idx_fcm_notifications_type_sent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fcm_notifications_type_sent ON public.fcm_notifications USING btree (notification_type, sent_at);


--
-- Name: idx_fcm_tokens_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fcm_tokens_active ON public.fcm_tokens USING btree (is_active);


--
-- Name: idx_fcm_tokens_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fcm_tokens_token ON public.fcm_tokens USING btree (token);


--
-- Name: idx_fcm_tokens_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fcm_tokens_user_id ON public.fcm_tokens USING btree (user_id);


--
-- Name: idx_outlook_sessions_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_outlook_sessions_token ON public.outlook_sessions USING btree (session_token);


--
-- Name: idx_outlook_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_outlook_sessions_user_id ON public.outlook_sessions USING btree (user_id);


--
-- Name: idx_password_reset_tokens_expires_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_password_reset_tokens_expires_at ON public.password_reset_tokens USING btree (expires_at);


--
-- Name: idx_password_reset_tokens_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_password_reset_tokens_user_id ON public.password_reset_tokens USING btree (user_id);


--
-- Name: idx_pricing_config_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pricing_config_active ON public.pricing_config USING btree (is_active);


--
-- Name: idx_pricing_overrides_bill_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pricing_overrides_bill_id ON public.pricing_overrides USING btree (bill_of_lading_id);


--
-- Name: idx_user_activity_last_activity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_activity_last_activity ON public.user_activity USING btree (last_activity);


--
-- Name: idx_users_approved; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_approved ON public.users USING btree (approved);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: email_processing_locks email_locks_cleanup_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER email_locks_cleanup_trigger BEFORE INSERT ON public.email_processing_locks FOR EACH ROW EXECUTE FUNCTION public.auto_cleanup_email_locks();


--
-- Name: email_processing_locks single_lock_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER single_lock_trigger BEFORE INSERT ON public.email_processing_locks FOR EACH ROW EXECUTE FUNCTION public.check_single_lock();


--
-- Name: ai_drafts ai_drafts_email_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_drafts
    ADD CONSTRAINT ai_drafts_email_id_fkey FOREIGN KEY (email_id) REFERENCES public.customer_emails(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: customer_balance_transactions customer_balance_transactions_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_balance_transactions
    ADD CONSTRAINT customer_balance_transactions_username_fkey FOREIGN KEY (username) REFERENCES public.users(username);


--
-- Name: customer_balances customer_balances_username_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_balances
    ADD CONSTRAINT customer_balances_username_fkey FOREIGN KEY (username) REFERENCES public.users(username);


--
-- Name: customer_email_replies customer_email_replies_customer_email_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_email_replies
    ADD CONSTRAINT customer_email_replies_customer_email_id_fkey FOREIGN KEY (customer_email_id) REFERENCES public.customer_emails(id) ON DELETE CASCADE;


--
-- Name: email_editing_locks fk_email_editing_locks_email; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_editing_locks
    ADD CONSTRAINT fk_email_editing_locks_email FOREIGN KEY (email_id) REFERENCES public.customer_emails(id) ON DELETE CASCADE;


--
-- Name: fcm_tokens fk_fcm_tokens_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fcm_tokens
    ADD CONSTRAINT fk_fcm_tokens_user_id FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_activity fk_user_activity_email; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_activity
    ADD CONSTRAINT fk_user_activity_email FOREIGN KEY (current_email_id) REFERENCES public.customer_emails(id) ON DELETE SET NULL;


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: pricing_overrides pricing_overrides_bill_of_lading_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricing_overrides
    ADD CONSTRAINT pricing_overrides_bill_of_lading_id_fkey FOREIGN KEY (bill_of_lading_id) REFERENCES public.bill_of_lading(id);


--
-- PostgreSQL database dump complete
--

